.hero .heading {
  font-size: 48px;
  font-weight: bold;
}

.hero p {
  width: 300px;
  padding: 10px;
  border: 2px solid black;
}

.hero button {
  padding: 10px 20px;
  background-color: red;
  color: white;
  border: none;
}
